:root {
  --primary: hsl(197, 24%, 94%);
  --secondary: hsl(215, 6%, 65%);
  --secondary-hover: hsl(215, 6%, 40%);
  --search-bg: hsl(197, 24%, 90%);
  --search-color: hsl(215, 6%, 60%);
  --red: hsl(0, 84%, 64%);
  --dark-blue: hsl(210, 32%, 28%);
  --dark-blue-soft: hsl(210, 32%, 40%);
  --dark: hsl(216, 18%, 16%);
  --grey: hsl(0, 0%, 87%);
  --grey-soft: hsl(0, 0%, 95%);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
.how-works {
  position: absolute;
  background: rgba(0, 0, 0, 70%);
  z-index: 1000;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: hsl(0, 0%, 87%);
  text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.5);
  font-size: 2rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
.how-works.active {
  visibility: visible;
  opacity: 1;
}

.how-works .fa-xmark {
  margin: 2rem 4rem auto auto;
  cursor: pointer;
  padding: 1rem;
}
.how-works .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 2rem;
  margin-bottom: auto;
  width: 50%;
  min-width: 500px;
  line-height: 200%;
}
.how-works .content img {
  filter: invert(99%) sepia(1%) saturate(124%) hue-rotate(255deg)
    brightness(122%) contrast(90%) drop-shadow(2px 2px 2px hsla(0, 0%, 0%, 0.5));
  width: 170px;
}
#container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#container .alert-container {
  width: 600px;
  height: 70px;
  position: absolute;
  z-index: 200;
  top: 10%;
  overflow: hidden;
  z-index: -1;
}
#alert {
  position: absolute;
  width: 100%;
  bottom: -150%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  padding: 1rem;
  z-index: 10;
  font-size: 1.3rem;
  transition: bottom 0.5s ease-in-out;
  color: hsl(155, 48%, 90%);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.8px);
  -webkit-backdrop-filter: blur(9.8px);
  border: 1px solid rgba(255, 255, 255, 1);
}
#alert.error {
  background: rgba(244, 102, 119, 0.8);
}
#alert.success {
  background: rgba(62, 178, 129, 0.8);
}
#alert.warning {
  background: rgba(251, 186, 47, 0.8);
}
#typeBox,
#saveBox {
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9px);
  -webkit-backdrop-filter: blur(9px);
  border: 1px solid rgba(255, 255, 255, 0.44);
  color: var(--secondary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 50%;
  max-width: 500px;
  z-index: 2;
  transform: translate(-50%, -50%);
  gap: 1.2rem;
  padding: 2rem 1rem;
  border-radius: 1rem;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.5s linear;
}
#typeBox.active,
#saveBox.active {
  visibility: visible;
  opacity: 1;
}
#typeBox .fa-xmark,
#saveBox .fa-xmark {
  margin-left: auto;
  margin-right: 1rem;
  font-size: 1rem;
  cursor: pointer;
  transition: color 0.5s;
  color: var(--dark-blue);
  padding: 0.5rem;
}
#typeBox .fa-xmark,
#saveBox .fa-xmark:hover {
  color: var(--dark-blue-soft);
}
#typeBox .palette-title,
#saveBox .palette-title {
  font-size: 1.2rem;
  color: var(--dark-blue-soft);
}
#colorTypes,
#palette-name {
  padding: 0.7rem 1rem;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  background-color: var(--grey-soft);
  color: var(--search-color);
  border: 1px solid var(--dark-blue-soft);
  outline: none;
  border-radius: 0.5rem;
  width: 100%;
}
#colorTypes {
  cursor: pointer;
  appearance: none;
}
.selectBox {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.selectBox .fa-chevron-down {
  position: absolute;
  right: 1rem;
  cursor: pointer;
}
#palette-name::placeholder {
  color: var(--search-color);
}
#typeBox .saveType,
#saveBox .saveSubmit {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--dark-blue);
  color: var(--grey);
  border: 1px solid var(--grey);
  border-radius: 0.5rem;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: background 0.5s;
}
#typeBox .saveType:hover,
#saveBox .saveSubmit:hover {
  background-color: var(--dark-blue-soft);
}
header {
  width: 100%;
  height: 70px;
  background-color: var(--primary);
  color: var(--secondary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: relative;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  z-index: 1;
}
header .logo {
  width: 100px;
  height: 60px;
  cursor: pointer;
}
header .save {
  font-size: 1.3rem;
  cursor: pointer;
  transition: color 0.5s;
}
header .save:hover {
  color: var(--secondary-hover);
}
header .hamburger {
  cursor: pointer;
}
header .hamburger .bar {
  transition: all 0.3s ease-in-out;
}
header .hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
header .hamburger.active .bar:nth-child(1) {
  transform: rotate(45deg) translateY(11px);
}
header .hamburger.active .bar:nth-child(3) {
  transform: rotate(-45deg) translateY(-11px);
}
header .hamburger .bar {
  background-color: var(--secondary);
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}
aside.navbar {
  position: fixed;
  height: calc(100vh - 70px - 40px);
  width: calc(100% / 5 - 1rem);
  background-color: var(--primary);
  color: var(--secondary);
  border: 1px solid var(--secondary);
  top: 70px;
  right: -100%;
  transition: right 0.3s;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  overflow: auto;
}
aside.navbar.active {
  right: -1px;
}
aside.navbar .search-container {
  background-color: var(--search-bg);
  color: var(--search-color);
  width: 100%;
  display: flex;
  align-items: center;
  padding-right: 1.5rem;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
aside.navbar .search-container .search {
  background-color: var(--search-bg);
  color: var(--search-color);
  width: 100%;
  padding: 1rem 0.5rem 1rem 1.5rem;
  outline: none;
  border: 0;
  font-size: 1rem;
}
aside.navbar .search-container .search::placeholder {
  color: var(--search-color);
}
aside.navbar .search-container .fa-magnifying-glass {
  font-size: 1.1rem;
}
aside.navbar .favorite {
  margin: 1rem auto;
  text-align: center;
}
aside.navbar .colorList {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: auto;
}
aside.navbar .colorList .color-group {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  gap: 0.5rem;
}
aside.navbar .colorList .color-group .list-item {
  list-style: none;
  display: flex;
  margin-bottom: 0.5rem;
  margin-top: 0.3rem;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: hsla(0, 0%, 0%, 0.24) 0px 3px 8px;
  cursor: pointer;
}
aside.navbar .colorList .color-group .fa-xmark {
  cursor: pointer;
  font-size: 2rem;
  padding: 0.5rem;
}
aside.navbar .colorList .list-item .list-color {
  width: 50px;
  height: 30px;
}
aside.navbar .social {
  margin-top: auto;
  margin-bottom: 1rem;
  display: flex;
  gap: 0.7rem;
}
aside.navbar .social .fa-circle-question {
  cursor: pointer;
}
aside.navbar .social .fa-circle-question,
aside.navbar .social a {
  color: var(--secondary);
  font-size: 1.5rem;
  transition: color 0.5s;
}
aside.navbar .social .fa-circle-question:hover,
aside.navbar .social a:hover {
  color: var(--secondary-hover);
}
main {
  height: calc(100vh - 70px - 40px);
  width: 100%;
}
main #colors {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, calc(100% / 5));
}
main #colors .palette .palette-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.1rem;
  color: hsl(0, 0%, 87%);
  text-shadow: 2px 2px 2px hsla(0, 0%, 0%, 0.5);
}
main #colors .palette .palette-items span,
main #colors .palette .palette-items i {
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 0.7rem;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.5s ease-in-out;
}
main #colors .palette .palette-items .fa-copy {
  font-size: 1.2rem;
}
main #colors .palette .palette-items .color-code {
  font-size: 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0.8rem;
  border-radius: 0.7rem;
  border: 1px solid rgba(0, 0, 0, 0);
  transition: all 0.5s ease-in-out;
}
main #colors .palette .palette-items span:hover,
main #colors .palette .palette-items i:hover,
main #colors .palette .palette-items .color-code:hover {
  background: rgba(255, 255, 255, 0.35);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.1px);
  -webkit-backdrop-filter: blur(8.1px);
  border: 1px solid rgba(255, 255, 255, 0.4);
}
main #colors .palette .palette-items .colorsContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: repeat(20, auto);
}
main #colors .palette .palette-items .colorsContainer .vrbItems {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
footer {
  width: 100%;
  height: 40px;
  background-color: var(--primary);
  color: var(--secondary);
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  box-shadow: hsla(206, 6%, 25%, 0.3) 0px -1px 2px 0px,
    hsla(206, 6%, 25%, 0.15) 0px -2px 6px 2px;
  position: relative;
  z-index: 1;
}
footer .heart {
  color: hsl(0, 71%, 61%);
}
footer a {
  color: var(--secondary);
  transition: color 0.5s;
}
footer a:hover {
  color: var(--secondary-hover);
}
@media (max-width: 1600px) {
  aside.navbar {
    width: calc(100% / 5);
  }
}
@media (max-width: 1450px) {
  aside.navbar {
    width: calc(100% / 4);
  }
}
@media (max-width: 1230px) {
  aside.navbar {
    width: calc(100% / 3);
  }
}
@media (max-width: 875px) {
  aside.navbar {
    width: calc(100% / 2 - 2rem);
  }
}
@media (max-width: 750px) {
  main #colors .palette .palette-items {
    flex-direction: row;
  }
  main #colors {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 1fr);
  }
  main #colors .palette .palette-items .colorsContainer {
    height: 100%;
    width: 100%;
    grid-template-rows: auto;
    grid-template-columns: repeat(20, auto);
    font-size: 0.5rem;
  }
  main #colors .palette .palette-items .colorsContainer .vrbItems {
    height: 100%;
    width: 100%;
    writing-mode: tb-rl;
  }
}
@media (max-width: 660px) {
  aside.navbar {
    width: calc(100% / 2);
  }
}
@media (max-width: 590px) {
  .how-works {
    padding: 0 2rem;
  }
  .how-works .content {
    width: 85%;
    min-width: 85%;
    font-size: 1.5rem;
  }
  .how-works .content img {
    width: 100px;
  }
  aside.navbar {
    width: 60%;
  }
  #container .alert-container {
    width: 290px;
  }
  #alert {
    font-size: 1rem;
    padding: 1rem 0.5rem;
  }
}
@media (max-width: 480px) {
  aside.navbar {
    width: 80%;
  }
  #typeBox,
  #saveBox {
    width: 90%;
  }
}
@media (max-width: 370px) {
  html {
    font-size: 14px;
  }
  aside.navbar {
    width: 100%;
  }
}
@media (max-width: 295px) {
  #container .alert-container {
    width: 100%;
  }
  aside.navbar .colorList {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  aside.navbar .colorList .list-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  aside.navbar .colorList .color-group {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 0.5rem;
  }

  aside.navbar .colorList .list-item .list-color {
    width: 150px;
    height: 30px;
  }
}
