:root {
  --shf: 4.9406564584124654e-322;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
#container {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
header {
  width: 100%;
  height: 60px;
  background-color: #edf2f4;
  color: #8f949b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem;
  position: relative;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  z-index: 1;
}
header .save {
  font-size: 1.3rem;
}
header .social {
  display: flex;
  gap: 0.7rem;
}
header .social a {
  color: #8f949b;
  font-size: 1.5rem;
}
header .hamburger {
  cursor: pointer;
}
header .hamburger .bar {
  transition: all 0.3s ease-in-out;
}
header .hamburger.active .bar:nth-child(2) {
  opacity: 0;
}
header .hamburger.active .bar:nth-child(1) {
  transform: rotate(45deg) translateY(11px);
}
header .hamburger.active .bar:nth-child(3) {
  transform: rotate(-45deg) translateY(-11px);
}
header .hamburger .bar {
  background-color: #8f949b;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  transition: all 0.3s ease-in-out;
}
aside.navbar {
  position: fixed;
  height: calc(100vh - 60px - 40px);
  width: calc(100% / 6);
  background-color: #edf2f4;
  top: 60px;
  right: -100%;
  transition: right 0.3s;
  z-index: 2;
}
aside.navbar.active {
  right: -1px;
}
main {
  height: calc(100vh - 60px - 40px);
  width: 100%;
}
main #colors {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, calc(100% / 5));
}
main #colors .palette .palette-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  font-size: 1.1rem;
  color: #dedede;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}
main #colors .palette .palette-items span,
main #colors .palette .palette-items i {
  cursor: pointer;
}
main #colors .palette .palette-items .fa-copy {
  font-size: 1.2rem;
}
main #colors .palette .palette-items .color-code {
  text-transform: uppercase;
}
footer {
  width: 100%;
  height: 40px;
  background-color: #edf2f4;
  color: #8f949b;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 0.5rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px -1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px -2px 6px 2px;
  position: relative;
  z-index: 1;
}
footer .heart {
  color: rgb(226, 85, 85);
}
